*, ::after, ::before {
    box-sizing: revert;
}
.accordion {
    --bs-accordion-color:unset;
    --bs-accordion-bg: unset;
    --bs-accordion-transition: unset;
    --bs-accordion-border-color: unset;
    --bs-accordion-border-width: unset;
    --bs-accordion-border-radius: unset;
    --bs-accordion-inner-border-radius: unset;
    --bs-accordion-btn-padding-x:unset;
    --bs-accordion-btn-padding-y: unset;
    --bs-accordion-btn-color: unset;
    --bs-accordion-btn-bg: unset;
    --bs-accordion-btn-icon: unset;
    --bs-accordion-btn-icon-width:unset;
    --bs-accordion-btn-icon-transform: unset;
    --bs-accordion-btn-icon-transition: unset;
    --bs-accordion-btn-active-icon: unset;
    --bs-accordion-btn-focus-border-color: unset;
    --bs-accordion-btn-focus-box-shadow: unset;
    --bs-accordion-body-padding-x: unset;
    --bs-accordion-body-padding-y: unset;
    --bs-accordion-active-color: unset;
    --bs-accordion-active-bg: unset;
}
@font-face {
    font-family: font;
    src: url("./Font/2.otf");
    font-weight: normal;
  }
  body {
    margin: 0;
    font-family: unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    text-align: unset;
    background-color: unset;
    -webkit-text-size-adjust: unset;
    -webkit-tap-highlight-color: unset;
}
html,body{
    margin: 0;
    padding: 0;
    background-color: #1e1e2f;
    color: #939393;
    font-family:font ;
}

@keyframes rise {
    0% { bottom: -800px; }
    100% { bottom: 350px; }
}

.alert-box {
    border-radius: 15px;
    border-radius: 13px;
    border: 2px solid #fff;
    position: fixed;
    bottom: 200px;
    right: 50px;
    width: 240px;
    background-color: #f9ed69;
    text-align: center;
    padding: 0px 10px 4px 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.alert-box.show {
    animation: rise 5s;
    visibility: visible;
    opacity: 1;
}


.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #939393;
    font-size: 48px;
    text-shadow: 0px 0px 2px #939393;
    margin-bottom: 10px;
    position: relative;
}
.main .header #clock{
    right: 0px;
    position: absolute;
    text-align: center;
    width: 185px;
    margin-right: 100px;
}
.main .header i{
    top: 43px;
    right: 315px;
    position: absolute;
    font-size: 25px;
    color: #939393;
    text-shadow: none!important;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-30deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}

#badge{
    z-index: 1;
    position: absolute;
    top: -1px;
    right: 291px;
}
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before{font-family: 'entypo', sans-serif;font-size:50px;color:#555;}

.badge-num {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    background: #e91e63;
    cursor: default;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    height: 29px;
    letter-spacing: -.1rem;
    line-height: 1.55;
    margin-top: -1rem;
    margin-left: 0.1rem;
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
    width: 29px;
    box-shadow: 1px 1px 5px rgba(0,0,0, .2);
    animation: pulse 1.5s 1;
    padding: 0px 2px 0px 0px;
}
.badge-num:after {
  content: '';
  position: absolute;
  top:-.1rem;
  left:-.1rem;
  border:2px solid rgba(255,0,0,.5);
  opacity:0;
  border-radius: 50%;
  width:100%;
  height:100%;
  animation: sonar 1.5s 1;
}
@keyframes sonar { 
  0% {transform: scale(.9); opacity:1;}
  100% {transform: scale(2);opacity: 0;}
}
@keyframes pulse {
  0% {transform: scale(1);}
  20% {transform: scale(1.4); } 
  50% {transform: scale(.9);} 
  80% {transform: scale(1.2);} 
  100% {transform: scale(1);}
}


.main #tabs{
    width: 95%;
    display: flex;
    justify-content: center;
}
.main .search  {
    position: relative;
    width: 100%;
    margin-bottom: 65px;
}
.main .search input {
    border-radius: 10px;
    left: 0;
    transition: all .3s ease-in-out;
    width: 91%;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 30px;
    padding: 2px 16px 6px;
    position: absolute;
    z-index: 2;
}
.main .search input:focus {
    border: 1px solid #ccc;
    outline: none;
}
#list{
    z-index: 0;
    top: 22px;
    position: absolute;
    background: #d3d3d3;
    list-style: none;
    padding: 0;
    padding-top: 16px;
    width: 103%;
    border-radius: 10px;
}
#list li{
    padding: 0px 0px 0px 20px !important;
    color: #141414;
    width: 93% !important;
    margin: 10px 0 !important;
}
#list li:last-child{

    margin-bottom: 0 !important;
}
#list li:hover {
    background-color: #27293d!important;
    color: #fff!important;
    border-radius: 0 !important;
}
.main #tabs > ul > li:hover {
    background-color: #e91e63!important;
    color: #fff!important;
    border-radius: 10px !important;
}
#list li a{
    color: #141414!important;
    padding-bottom: 17px !important;
}

.main #tabs>ul li:hover a{
    color: #fff!important;
}
.main .search button {
    color: #fff;
    background: #303458;
    border-radius: 50%;
    height: 34px;
    right: 3px;
    top: 3px;
    transition: all .3s ease-in-out;
    width: 34px;
    border: none;
    font-size: 13px;
    padding: 4px;
    position: absolute;
    text-align: center;
}
#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}
.main #tabs>ul{
    left: 50px;
    position: fixed;
    margin-top: 0;
    padding: 25px 25px 5px;
    list-style: none;
    width: 14%;
    background-color: #27293d;
    border-radius: 15px;
    box-shadow: 0px 0px 19px #141414;
    margin-right: 60px ;
}
.main #tabs>ul li{
    width: 100%;
    font-size: 21px;
    margin: 10px 0;
    padding: 5px;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.3s linear;
}
.main #tabs>ul li .logo img {
    margin:-7px 13px -5px 0;
    width: 25px;
    height: 25px;
    border-radius: 15px;
}
.main #tabs>ul li .logo i {
        margin-bottom: -7px;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        margin-right: 13px;
}

.main #tabs>ul li:hover{
    background-color: #ffffff1f;
}
.main #tabs>ul li:hover a{
    color: #fff;
}
.main #tabs>ul a{
    transition: 0.3s linear;
    margin: -2px 0px 6px 10px;
        text-decoration: none;
    color: #939393;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    width: 100%;
}

.ui-tabs-active{
    background-color: #e91e63!important;
}
.ui-tabs-active a{ 
    color: #fff!important;
    
}

div.ui-tabs-panel{
    margin-bottom: 30px;
    width: 77%;
    padding: 60px 25px;
    list-style: none;
    background-color: #27293d;
    border-radius: 15px;
    box-shadow: 0px 0px 19px #141414;
    margin-left: 370px;
}

.main .accordion {
    position: relative;
}
 .main .accordion .accordionTitle, .main .accordion .accordion__Heading {
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    color: #505050;
    transition: background-color 0.5s ease-in-out;
}
.main .accordion .accordionItem.is-collapsed {
    max-height: 0;
}
.main .accordion dd, .main .accordion .accordion__panel {
    background-color: #f8f8f8;
    font-size: 1em;
    line-height: 1.5em;
}
.main .accordion .content-contact > div {
    display: flex;
    width: 50%;
    color: #505050;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.accordion {
    font-size: 25px;
    width: 60%;
    margin: 55px auto 0;
  }
  
  .accordion-header,
  .accordion-body {
    border-radius: 15px 15px 0 0;
    background: #686868;
  }
  .accordion-header p:first-child,.accordion-header p:nth-child(2){
    text-align: left;
    width: 20%;
    margin-top: 0;
  }
  .accordion-header p:nth-child(4),.accordion-header p:nth-child(3){
    text-align: left;
    width: 25%;
    margin-top: 0;
  }
  .accordion-header {
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 19px #141414;
    padding: 22px 50px 18px 50px;
    border-radius: 15px 15px;
    background: #686868;
    color: white;
    cursor: pointer;
    font-size: 22px;
    transition: box-shadow .1s;
    transition: background-color .3s;
    text-transform: uppercase;
  }
  
.accordion .titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

  
.accordion .titles div{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fff;
}

  .accordion-header:hover {
    background: #151c42!important;
    position: relative;
    z-index: 5;
    box-shadow: none;
  }
  
  .accordion-body {
    border-radius: 0 0 15px 15px;
    background: #cbcbcb;
    color: #1c1c1c;
    display: none;
    padding: 10px 30px;
    padding-top: 30px;
    margin-top: -12px;
  }
  


  .accordion-item{
    margin: 35px 0;
  }

  .accordion-body div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .accordion-body div p:first-child{
    margin: 15px 0;
    width: 60%;
}
.accordion-body div p:last-child{
    width: 40%;
    margin: 15px 0;

}
  
  .accordion-item.active:last-child .accordion-header {
    border-radius: none;
  }
  
.active .accordion-header{
    border-radius: 15px 15px 0 0;
}
  

  .accordion-item > .accordion-header i {
    float: right;
    position: relative;
    top: 2px;
    transition: .3s all;
    transform: rotate(0deg);
  }
  
  .accordion-item.active > .accordion-header i {
    transform: rotate(-180deg);
  }

  
  .accordion-item .accordion-item .accordion-header {
    background: #f1f1f1;
    color: #353535;
  }

  .tab-title{
    right: 445px;
    padding-top: 13px;
    top: 65px;
    position: absolute;
    width: 600px;
    height: 80px;
    background: #e91e63!important;
    border-radius: 15px;
    color: #fff;
    font-size: 45px;
    text-align: center;
  }


.chartWrapper{
    margin: 0px 0 90px -100px;
    position: relative;
}

.chartWrapper::-webkit-scrollbar,body::-webkit-scrollbar,#Trade-AAPL div::-webkit-scrollbar, #Trade-GOOGL div::-webkit-scrollbar, #Trade-MSFT div::-webkit-scrollbar, #Trade-AMZN div::-webkit-scrollbar, #Trade-TSLA div::-webkit-scrollbar {
    padding: 2px;
    border-radius: 10px;
    width: 10px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

.chartWrapper::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb,#Trade-AAPL div::-webkit-scrollbar-thumb, #Trade-GOOGL div::-webkit-scrollbar-thumb, #Trade-MSFT div::-webkit-scrollbar-thumb, #Trade-AMZN div::-webkit-scrollbar-thumb, #Trade-TSLA div::-webkit-scrollbar-thumb{
    border-radius: 18px;
    background: rgb(72 72 72);
}
.legendWrapper{
    position: absolute;
    top: 15px;
    left: 180px;
}
.legendWrapper ul{
display: flex;
flex-direction: column;
}
.legendWrapper ul li{
    cursor: pointer;
    font-size: 19px;
    margin:2px 30px;
    width: fit-content;
}

#chartWrappersmall {
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow: 0px 10px 19px #141414;
    padding: 50px;
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: 50px 0 100px 53px;
}

#chartWrappersmall canvas{
margin-top: 20px;
}


#chartWrappersmall .title{
    display: block;
    margin: 8px 0px -14px 11px ;
}


.notification {
    display: block;
    position: fixed;
    padding: 20px;
    overflow: hidden;
    width: 300px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0,0,0, .2);
    color: #fff;
    -webkit-animation: show-notification 3s ease-out;
    animation: show-notification 3s ease-out;
    top: 710px;
    right: 35px;
    text-align: center;
    z-index: 500;
}

.notification-close {
    padding: 0;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd;
}

.notification-close::before {
    content: 'X';
    font-size: 15px;
    font-weight: normal;
}

@-webkit-keyframes show-notification {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
    }
}

@keyframes show-notification {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }
}


#mySelect{
    margin-bottom: 50px;
    float: right;
    padding: 5px 15px 13px;
    width: 178px;
    font-size: 25px;
    color: #fff;
    background-color: #3030301f;
    border: 4px solid #4e4e4e;
    border-radius: 12px;
    text-align: center;
}
#mySelect option{
    background: #bdbdbd;
    padding: 5px 10px;
    color: #333;
}

.buy-sell label{
    font-size: 22px;
    margin-right: 30px;
    padding: 7px 22px 10px;
}

#trade form{
    width: 50%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#trade form div{ 
    justify-content: left;
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    padding: 0 30px;
}
#trade form div label{
    width: 170px; 
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#trade form div input{
    margin-left: 7px;
    width: 275px;
    border-radius: 10px;
    background: #27293d;
    border: 1px solid #858585;
    padding: 7px 5px 13px;
    color: #fff;
}
#trade form div input:focus-visible{
    border: 1px solid #858585 !important;
    outline: none;
}
.buy-sell{
    width: 100%!important;
}

#AAPL, #GOOGL, #MSFT, #AMZN, #TSLA{
    width: 40%;
    float: left;
}

#Trade-AAPL, #Trade-GOOGL, #Trade-MSFT, #Trade-AMZN, #Trade-TSLA{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.cyrcle-chart{
    top: 132px;
    position: absolute;
    width: 540px;
    height: 348px;
    right: 0;
}
.symbol-trade table{
    overflow: auto;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.symbol-trade table tr{
    padding: 13px 25px !important;
}


#AAPLChart,#GOOGLChart,#MSFTChart,#AMZNChart,#TSLAChart{
    width: 100%;
}