*, ::after, ::before {
    box-sizing: revert;
}
.accordion {
    --bs-accordion-color:unset;
    --bs-accordion-bg: unset;
    --bs-accordion-transition: unset;
    --bs-accordion-border-color: unset;
    --bs-accordion-border-width: unset;
    --bs-accordion-border-radius: unset;
    --bs-accordion-inner-border-radius: unset;
    --bs-accordion-btn-padding-x:unset;
    --bs-accordion-btn-padding-y: unset;
    --bs-accordion-btn-color: unset;
    --bs-accordion-btn-bg: unset;
    --bs-accordion-btn-icon: unset;
    --bs-accordion-btn-icon-width:unset;
    --bs-accordion-btn-icon-transform: unset;
    --bs-accordion-btn-icon-transition: unset;
    --bs-accordion-btn-active-icon: unset;
    --bs-accordion-btn-focus-border-color: unset;
    --bs-accordion-btn-focus-box-shadow: unset;
    --bs-accordion-body-padding-x: unset;
    --bs-accordion-body-padding-y: unset;
    --bs-accordion-active-color: unset;
    --bs-accordion-active-bg: unset;
}
@font-face {
    font-family: font;
    src: url("./Font/2.otf");
    font-weight: normal;
  }
  body {
    margin: 0;
    font-family: unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    text-align: unset;
    background-color: unset;
    -webkit-text-size-adjust: unset;
    -webkit-tap-highlight-color: unset;
}
html,body{
    margin: 0;
    padding: 0;
    background-color: #1e1e2f;
    color: #939393;
    font-family:font ;
}

@keyframes rise {
    0% { bottom: -800px; }
    100% { bottom: 350px; }
}

.alert-box {
    border-radius: 15px;
    border-radius: 13px;
    border: 2px solid #fff;
    position: fixed;
    bottom: 200px;
    right: 50px;
    width: 240px;
    background-color: #f9ed69;
    text-align: center;
    padding: 0px 10px 4px 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.alert-box.show {
    animation: rise 5s;
    visibility: visible;
    opacity: 1;
}


.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #939393;
    font-size: 48px;
    text-shadow: 0px 0px 2px #939393;
    margin-bottom: 20px;
    position: relative;
}
.main .header #clock{
    right: 0px;
    position: absolute;
    text-align: center;
    width: 185px;
    margin-right: 100px;
}
.main .header i{
    top: 43px;
    right: 315px;
    position: absolute;
    font-size: 25px;
    color: #939393;
    text-shadow: none!important;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-30deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}

.main .header #notification-count{
    text-align: center;
    border-radius: 45px;
    color: #fff;
    padding: 0px 7px 4px 6px;
    font-size: 16px;
    background: #e91e63;
    position: absolute;
    top: 35px;
    right: 300px;
    margin: 0;
}

.main #tabs{
    width: 95%;
    display: flex;
    justify-content: center;
}
.main .search  {
    position: relative;
    width: 100%;
    margin-bottom: 65px;
}
.main .search input {
    border-radius: 10px;
    left: 0;
    transition: all .3s ease-in-out;
    width: 91%;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 30px;
    padding: 2px 16px 6px;
    position: absolute;
    z-index: 2;
}
.main .search input:focus {
    border: 1px solid #ccc;
    outline: none;
}
#list{
    z-index: 0;
    top: 22px;
    position: absolute;
    background: #d3d3d3;
    list-style: none;
    padding: 0;
    padding-top: 16px;
    width: 103%;
    border-radius: 10px;
}
#list li{
    padding: 0px 0px 0px 20px !important;
    color: #141414;
    width: 93% !important;
    margin: 10px 0 !important;
}
#list li:last-child{

    margin-bottom: 0 !important;
}
#list li:hover {
    background-color: #27293d!important;
    color: #fff!important;
    border-radius: 0 !important;
}
.main #tabs > ul > li:hover {
    background-color: #e91e63!important;
    color: #fff!important;
    border-radius: 10px !important;
}
#list li a{
    color: #141414!important;
    padding-bottom: 17px !important;
}

.main #tabs>ul li:hover a{
    color: #fff!important;
}
.main .search button {
    color: #fff;
    background: #303458;
    border-radius: 50%;
    height: 34px;
    right: 3px;
    top: 3px;
    transition: all .3s ease-in-out;
    width: 34px;
    border: none;
    font-size: 13px;
    padding: 4px;
    position: absolute;
    text-align: center;
}
#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}
.main #tabs>ul{
    left: 50px;
    position: fixed;
    margin-top: 0;
    padding: 25px;
    list-style: none;
    width: 14%;
    background-color: #27293d;
    border-radius: 15px;
    box-shadow: 0px 0px 19px #141414;
    margin-right: 60px ;
}
.main #tabs>ul li{
    width: 100%;
    font-size: 21px;
    margin: 10px 0;
    padding: 5px;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.3s linear;
}
.main #tabs>ul li .logo img {
    margin-bottom: -5px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-right: 13px;
}
.main #tabs>ul li .logo i {
        margin-bottom: -7px;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        margin-right: 13px;
}

.main #tabs>ul li:hover{
    background-color: #ffffff1f;
}
.main #tabs>ul li:hover a{
    color: #fff;
}
.main #tabs>ul a{
    transition: 0.3s linear;
    margin: -2px 0px 6px 10px;
        text-decoration: none;
    color: #939393;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    width: 100%;
}

.ui-tabs-active{
    background-color: #e91e63!important;
}
.ui-tabs-active a{ 
    color: #fff!important;
    
}

div.ui-tabs-panel{
    width: 77%;
    padding: 60px 25px;
    list-style: none;
    background-color: #27293d;
    border-radius: 15px;
    box-shadow: 0px 0px 19px #141414;
    margin-left: 370px;
}

.main .accordion {
    position: relative;
}
 .main .accordion .accordionTitle, .main .accordion .accordion__Heading {
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    color: #505050;
    transition: background-color 0.5s ease-in-out;
}
.main .accordion .accordionItem.is-collapsed {
    max-height: 0;
}
.main .accordion dd, .main .accordion .accordion__panel {
    background-color: #f8f8f8;
    font-size: 1em;
    line-height: 1.5em;
}
.main .accordion .content-contact > div {
    display: flex;
    width: 50%;
    color: #505050;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.accordion {
    font-size: 25px;
    width: 60%;
    margin: 55px auto 0;
  }
  
  .accordion-header,
  .accordion-body {
    border-radius: 15px 15px 0 0;
    background: #686868;
  }
  
  .accordion-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 19px #141414;
    padding: 22px 50px 18px 50px;
    border-radius: 15px 15px;
    background: #686868;
    color: white;
    cursor: pointer;
    font-size: 22px;
    transition: box-shadow .1s;
    transition: background-color .3s;
    text-transform: uppercase;
  }
  
.accordion .titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

  
.accordion .titles div{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fff;
}

  .accordion-header:hover {
    background: #151c42!important;
    position: relative;
    z-index: 5;
    box-shadow: none;
  }
  
  .accordion-body {
    border-radius: 0 0 15px 15px;
    background: #cbcbcb;
    color: #1c1c1c;
    display: none;
  }
  
  .accordion-body__contents {
    box-shadow: 0px 10px 19px #141414;
    padding: 1em 1.5em;
    font-size: 20px;
  }

  .accordion__item{
    margin: 35px 0;
  }

  .accordion-body__contents div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .accordion-body__contents div p:first-child{
    margin: 15px 0;
    width: 60%;
}
.accordion-body__contents div p:last-child{
    width: 40%;
}
  
  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }
  
.active .accordion-header{
    border-radius: 15px 15px 0 0;
}
  

  .accordion__item > .accordion-header i {
    float: right;
    position: relative;
    top: 2px;
    transition: .3s all;
    transform: rotate(0deg);
  }
  
  .accordion__item.active > .accordion-header i {
    transform: rotate(-180deg);
  }

  
  .accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: #353535;
  }

  .tab-title{
    right: 470px;
    padding-top: 13px;
    top: 75px;
    position: absolute;
    width: 600px;
    height: 80px;
    background: #e91e63!important;
    border-radius: 15px;
    color: #fff;
    font-size: 45px;
    text-align: center;
  }


  .chartWrapper {
    position: relative;
  }
  
  .chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  
  .chartWrapper {
    position: relative;
  }
  
  .chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  
  .chartAreaWrapper {
    width: 800px; /* Adjust this value according to your needs */
    overflow-x: scroll;
  }
  





  